__pycache__/
docs/build
docs/_autosummary
docs/_generated
docs/datasets/room_impulse_responses.rst
docs/datasets/head_related_impulse_responses.rst
docs/datasets/miracle_dataset.rst
docs/datasets/sriracha_dataset.rst
docs/datasets/fabian_dataset.rst
/docs/cli-help.txt
/docs/cli-miracle-help.txt
